pinecone-client
uuid
transformers
torch
requests
sentence-transformers
langchain
pypdf
faiss-cpu
tiktoken
openai==v0.28.1
llama-cpp-python
replicate
GPT4All
accelerate
bitsandbytes
transformers
gradio
bitsandbytes
einops
accelerate
xformers
scipy